@use '_typingIndicator' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--app-layout-color);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 16px;
}

body {
  color: var(--app-layout-text-color);
  font-family: Arial, Helvetica, sans-serif;
}

.text-shadow {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7)
}